.container {
  background-color: black;
  height: fit-content;
}
.cardGroup {
  background-color: rgb(237, 41, 41);
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  flex-flow: column;
  align-content: space-around;
  justify-content: space-between;
  flex: 1;
  max-height: 10%;
}
